<!DOCTYPE html>
<html lang="fa">

<head>
    <title>Gold Price</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

</head>

<body>

<h3>Total Profit: {{ total }}</h3>
<div style="height: 600px; width: 600px">
    <canvas id="myChart"></canvas>
</div>
<!--suppress JSValidateTypes -->
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ days }},
            datasets: [{
                label: 'Gold Price',
                backgroundColor: 'rgb(255,215,0)',
                borderColor: 'rgb(14,0,0)',
                data: {{ data }}
            }]
        },
        options: {}
    });
</script>
</body>

</html>